.container {
  align-items: center;
  background-color: var(--blue);
  display: flex;
  justify-content: space-between;
  padding: 0 3vw;
}

form {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 35px;
  justify-content: space-between;
  width: 238px;
}

input {
  border: none;
  height: 35px;
  padding-left: 0.5rem;
  width: 238px;
}

.searchButton {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 35px;
  width: 35px;
}

h1 {
  color: var(--white);
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  color: var(--green-400);
  font-size: 1.4rem;
  font-weight: 400;
}
